/*site wide*/

.about-body {
  padding: 40px 50px 70px;
  max-width: 100%;
  background-color: #f6a525;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.about-img {
  width: 100%;
}

.about-highlight {
  color: rgb(255, 12, 12);
  font-size: 1.5vw;
}

.about-title {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  margin: 0 0 20px;
}

.about-text {
  font-size: 1.1vw;
  text-align: justify;
  text-align-last: center;
  max-height: 260px;
  overflow: hidden;
}

.about-us {
  height: 100% !important;
}

.andSymbol {
  color: white;
  display: inline-block;
  font-size: 6vw !important;
  text-shadow: 0.07em 0 black;
}

.App-logo {
  top: 8px;
  left: 60px;
  width: 12rem;
  height: 9rem;
  transition: all 0.25s ease-in-out;
  border-radius: 15%;
  cursor: pointer;
}

.border_on:before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 2px solid #f6a525;
  content: "";
}

.btn-submit {
  background-color: #f6a525;
}

.card {
  font-family: "ubuntuFont";
}
.card-footer {
  background-color: white;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card-text {
  color: #000 !important;
}

.card-title {
  margin-top: 10px;
}

.company-name {
  text-align: left;
  text-shadow: 0.07em 0 black;
  font-size: 6vw;
}

.favProducts {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: "ubuntuFont";
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
  text-align: center;
  position: relative;
  margin-bottom: 30px;
  margin: 0 0 20px;
  color: white;
}

.highlights {
  color: rgb(255, 12, 12);
  font-size: 6vw !important;
  text-align: center;
  text-shadow: 0.07em 0 white;
  padding-bottom: min(8vh, 3vw);
}

.homeLinks > div {
  display: flex !important;
}

.hook-text {
  text-shadow: 0.07em 0 black;
  font-size: 5vw;
  text-align: left;
}

.jumbo-text {
  text-align: left;
  text-shadow: 0.07em 0 black;
  font-size: 6vw !important;
  padding-bottom: 3vw;
}

.jumbotronSalgados {
  background: url("./assets/images/salgadinhos-para-festa-infantil-paulovilela.jpg")
    no-repeat;
  background-size: cover;
  font-family: "satisfyFont";
  padding: 0;
  max-height: 85%;
  min-width: 75vw;
  cursor: pointer;
}

#linkbar > div > a {
  color: white;
  text-shadow: 0.03em 0 black;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#linkbar > div :hover {
  color: rgb(250, 160, 55);
}

.name-hook {
  padding-top: 2rem;
}

nav > * {
  color: #fff;
  display: flex !important;
}

.nav-btn {
  height: 8vw;
  position: absolute;
  left: 2%;
}

.order-btn {
  font-size: 1.5rem;
  width: 250px;
  height: 80px;
}

.order-btn:hover {
  background-color: #026e2e !important;
}

.order-title {
  font-family: "ubuntuFont";
  font-size: 2.5rem;
  font-weight: 800;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

#ownerImage {
  background: url("./assets/images/marketing_woman_smiling_market_smiling_woman_female_retail_person-826927.jpg");
  min-height: 30vw;
  background-size: cover;
  background-position: center;
}

.product-card {
  width: 18rem !important;
  max-width: 100% !important;
  margin: 2rem;
  cursor: pointer;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.product-card:hover {
  background-color: rgb(255, 12, 12);
  /* color: rgb(250, 160, 55); */
  color: white !important;
}

.product-card:hover .card-footer {
  background-color: rgb(255, 12, 12);
}

.product-card:hover .card-text {
  color: white !important;
}

span {
  font-size: 2em;
}

svg {
  color: gold;
}

.textColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*desktop*/
@media screen and (min-width: 601px) {
  .App {
    text-align: center;
    position: relative;
    height: 100%;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 12, 12);
  }

  .about-us {
    font-family: "ubuntuFont";
    color: #fff;
    padding: 4px;
    display: flex !important;
  }

  .border_on:before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #f6a525;
    content: "";
  }
  .card-img-top {
    /*width: 448px;*/
    width: 100%;
    height: 300px;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.5vmax;
  }

  #linkbar {
    flex-wrap: nowrap;
  }

  .products-container-desk {
    display: block;
  }

  .products-container-mobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .App {
    text-align: center;
    position: relative;
    height: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgb(255, 12, 12);
  }

  .about-body {
    flex: none !important;
    max-width: 100% !important;
  }

  .about-img {
    flex: none !important;
    max-width: 100% !important;
    margin-top: 10px;
  }

  .about-highlight {
    font-size: 20px;
  }

  .about-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    margin: 0 0 20px;
  }

  .about-text {
    font-size: 16px;
    text-align: justify;
    text-align-last: center;
    max-height: 260px;
    overflow: hidden;
  }

  .about-us {
    font-family: "ubuntuFont";
    color: #fff;
    padding: 4px;
  }

  .border_on:before {
    position: absolute;
    top: 30px;
    right: 30px;
    bottom: 30px;
    left: 30px;
    border: 2px solid #f6a525;
    content: "";
  }

  .card-img-top {
    width: 210px;
    height: 157px;
    margin: auto;
  }

  .logo {
    margin: auto;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 4.5vw;
  }

  .products-container-desk {
    display: none;
  }

  .products-container-mobile {
    display: block;
  }
}
