body {
  margin-left: auto;
  margin-right: auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
}

.contact,
nav {
  position: relative;
  font-family: "ubuntuFont";
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

form {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}

#header-nav {
  background-color: rgba(255, 255, 255, 0.1);
}
#home {
  background-color: rgba(0, 0, 0, 0.1);
}

label,
.btn {
  color: #fff;
}
li {
  list-style-type: none;
  margin-left: 10vw;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

li:hover {
  color: rgb(250, 160, 55);
}

ul {
  float: right;
}

@font-face {
  font-family: "jumboFont";
  src: local("jumboFont"),
    url("./assets/fonts/KaushanScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "satisfyFont";
  src: local("satisfyFont"),
    url("./assets/fonts/Satisfy-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ubuntuFont";
  src: local("ubuntuFont"),
    url("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
}

::-webkit-scrollbar {
  display: none;
}

@media all and (max-width: 1000px) and (min-width: 700px) {
  .jumbotronSalgados {
    margin-left: auto;
    margin-right: auto;
  }
}

@media all and (min-width: 1000px) {
}
